[submodule "submodules/volto"]
	path = submodules/volto
	url = https://github.com/plone/volto.git
	branch = main
[submodule "submodules/plone.restapi"]
	path = submodules/plone.restapi
	url = https://github.com/plone/plone.restapi.git
	branch = main
[submodule "submodules/plone.api"]
	path = submodules/plone.api
	url = https://github.com/plone/plone.api.git
	branch = main
