# See https://github.com/sphinx-doc/sphinx/issues/10121
Sphinx>=4.3.2,<4.4.0
jsx-lexer
lesscpy
linkify-it-py
myst-parser
sphinx-book-theme
sphinx-copybutton
sphinx-togglebutton
sphinxcontrib-spelling
sphinxext-opengraph
