sphinx
graphviz
lesscpy
linkify-it-py
myst-parser
sphinx-autobuild
sphinx-book-theme
sphinx-copybutton
sphinx-design  # Documentation only
sphinx-notfound-page  # Documentation only
sphinx-sitemap
sphinx-togglebutton
sphinxcontrib.httpdomain  # plone.restapi
sphinxcontrib.httpexample  # plone.restapi
sphinxcontrib-video
sphinxext-opengraph
vale
