[buildout]
extends =
    https://dist.plone.org/release/6.1-latest/versions.cfg

parts =
    instance

[instance]
recipe = plone.recipe.zope2instance
# user = username:password - Use a secure token in a production environment.
user = admin:admin
http-address = 8080
eggs =
    Plone

eggs += collective.outputfilters.tinymceaccordion
