This tutorial describes the steps to produce a fully-customized view of
an Archetypes object. This is applicable to tweaking little details of
the default AT behavior as well as gutting and re-building the view from
scratch. (contributed by Floyd May)

#. `Introduction <http://plone.org/documentation/manual/theme-reference/buildingblocks/skin/templates/customizing-at-templates/introduction>`_
#. `What Makes It
   Tick? <http://plone.org/documentation/manual/theme-reference/buildingblocks/skin/templates/customizing-at-templates/what-makes-it-tick>`_
#. `Customizing
   Widgets <http://plone.org/documentation/manual/theme-reference/buildingblocks/skin/templates/customizing-at-templates/customizing-widgets>`_
#. `Total Control: The View
   Template <http://plone.org/documentation/manual/theme-reference/buildingblocks/skin/templates/customizing-at-templates/total-control-the-view-template>`_
#. `Conclusion <http://plone.org/documentation/manual/theme-reference/buildingblocks/skin/templates/customizing-at-templates/conclusion>`_
#. `Reference <http://plone.org/documentation/manual/theme-reference/buildingblocks/skin/templates/customizing-at-templates/reference>`_

`All content on one page (useful for printing, presentation mode
etc.) <http://plone.org/documentation/manual/theme-reference/buildingblocks/skin/templates/customizing-at-templates/referencemanual-all-pages>`_
