a.reference {
    text-decoration: none;
    border-bottom: none;
}

/* Prepend indicator to shell examples */
.highlight-shell pre:before {
    content: '$ ';
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

/* Prepend indicator to shell examples */
.highlight-console pre:before {
    content: '$ ';
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

/* Set width for main body to 900*/
div.body {
    min-width: 450px;
    max-width: 900px;
}

/* Copy buttons */
button.copybtn {
  webkit-transition: opacity .3s ease-in-out;
  -o-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  opacity: 0;
  padding: 2px 6px;
  position: absolute;
  right: 4px;
  top: 4px;
}
div.highlight:hover .copybtn, div.highlight .copybtn:focus {
    opacity: .3;
}
div.highlight .copybtn:hover {
    opacity: 1;
}
div.highlight {
    position: relative;
}

