/*@import url('default.css');*/
body {
    font: 100% Arial, FreeSans, sans-serif;
    background: White;
    color: Black;
}

div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
    color: Black;
    background-color: White;
    font-weight: bold;
    line-height: 125%;
    border: none;
    font: "Helvetica Neue",Arial,FreeSans,sans-serif;
}

.hiddenStructure {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    display: block;
    height: 0.1em;
    margin: -0.1em 0 0 -0.1em;
    overflow: hidden;
    padding: 0;
    width: 1px;
}
div#topbar.navbar {
    margin-bottom: 0;
    height:40px;
    min-height: 40px;
}

header {
    background-color: #3094C8;
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.1) 14%, rgba(0, 0, 0, 0) 14%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 64%, rgba(0, 0, 0, 0) 64%, rgba(0, 0, 0, 0));
    background-size: 18px 18px;
    height: 89px;
}

header a {
    margin-top: 22px;
    margin-bottom: 22px;
    margin-left: 0;
    display: inline-block;
}


footer {
    background: none repeat scroll 0 0 #EAF2F6;
    box-shadow: 0 8px 12px -12px rgba(0, 0, 0, 0.5) inset;
    padding-top: 1em;
}

footer .colophon p {
    margin-bottom: 2px;
}

footer .colophon p {

    font-family: 'DINRegular';
    /*font-family: "Helvetica Neue",​Helvetica,​Arial,​sans-serif;*/
    font-size: 11px;
}

footer nav#sitemap {
    margin-top: 1em;
    margin-bottom: 1em;
}

footer nav#sitemap ul {
    list-style-type: none;
}

footer nav#sitemap a {
    font-size: 11px;
}

div.document {
    background-color: White;
}

div.sphinxsidebar {
    background-color: #f6f6f6;
    border: 1px solid #eeeeee;
}

div.sphinxsidebar h3 {
    margin-left: -11px;
    margin-right: -6px;
    line-height: 1.5em;
}

div.sphinxsidebar h3,
div.sphinxsidebar h3 a {
    background-color: #76ad17;
    color: White;
    padding: 0 0.5em;
}

div.sphinxsidebar h3 a:hover {
    color: White;
}

div.sphinxsidebar h4,
div.sphinxsidebar h4 a {
    color: #205c90;
}

div.sphinxsidebar a,
div.sphinxsidebar p {
    color: #205c90;
}

a:link, a:visited {
    color: #205c90;
    text-decoration: none;
}

a:link:hover,
a:visited:hover {
    color: #75ad0a;
}


/* Styles for floating Edit on GitHub box */
#editor-trap {
    margin: 1em;
    padding: 1em;
    border: 1px solid black;
    box-shadow: 0 0 3px black;
    width: 200px;

    background: #fefabc;
    position: fixed;
    top: 35px;
    right: 1em;
    font-size: 60%;
    text-align: left;
    z-index: 2;

    -moz-transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
    -o-transform: rotate(-4deg);
    -ms-transform: rotate(-4deg);
    transform: rotate(-4deg);
    box-shadow: 0px 4px 6px #333;
    -moz-box-shadow: 0px 4px 6px #333;
    -webkit-box-shadow: 0px 4px 6px #333;


    cursor: pointer;
}

#editor-trap h3 { 
    margin: 0 0 0.5em 0;
    padding: 0;
    background: transparent;
}

#editor-trap ol {
    margin: 0;
    padding: 0 0 0 2em;
}

/* Hide trick */

#editor-trap.toggled > * {
    display: none;
}


#editor-trap.toggled > h3 {
    display: block;
}
