/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
#plone-global-topbar-wrapper html,
#plone-global-topbar-wrapper body {
  border: 0;
  /*font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;*/

  line-height: 1.5;
  margin: 0;
  padding: 0;
}
#plone-global-topbar-wrapper div,
#plone-global-topbar-wrapper span,
#plone-global-topbar-wrapper object,
#plone-global-topbar-wrapper iframe,
#plone-global-topbar-wrapper img,
#plone-global-topbar-wrapper table,
#plone-global-topbar-wrapper caption,
#plone-global-topbar-wrapper thead,
#plone-global-topbar-wrapper tbody,
#plone-global-topbar-wrapper tfoot,
#plone-global-topbar-wrapper tr,
#plone-global-topbar-wrapper tr,
#plone-global-topbar-wrapper td,
#plone-global-topbar-wrapper article,
#plone-global-topbar-wrapper aside,
#plone-global-topbar-wrapper canvas,
#plone-global-topbar-wrapper details,
#plone-global-topbar-wrapper figure,
#plone-global-topbar-wrapper hgroup,
#plone-global-topbar-wrapper menu,
#plone-global-topbar-wrapper nav,
#plone-global-topbar-wrapper footer,
#plone-global-topbar-wrapper header,
#plone-global-topbar-wrapper section,
#plone-global-topbar-wrapper summary,
#plone-global-topbar-wrapper mark,
#plone-global-topbar-wrapper audio,
#plone-global-topbar-wrapper video {
  border: 0;
  margin: 0;
  padding: 0;
}
#plone-global-topbar-wrapper h1,
#plone-global-topbar-wrapper h2,
#plone-global-topbar-wrapper h3,
#plone-global-topbar-wrapper h4,
#plone-global-topbar-wrapper h5,
#plone-global-topbar-wrapper h6,
#plone-global-topbar-wrapper p,
#plone-global-topbar-wrapper blockquote,
#plone-global-topbar-wrapper pre,
#plone-global-topbar-wrapper a,
#plone-global-topbar-wrapper abbr,
#plone-global-topbar-wrapper address,
#plone-global-topbar-wrapper cit,
#plone-global-topbar-wrapper code,
#plone-global-topbar-wrapper del,
#plone-global-topbar-wrapper dfn,
#plone-global-topbar-wrapper em,
#plone-global-topbar-wrapper ins,
#plone-global-topbar-wrapper q,
#plone-global-topbar-wrapper samp,
#plone-global-topbar-wrapper small,
#plone-global-topbar-wrapper strong,
#plone-global-topbar-wrapper sub,
#plone-global-topbar-wrapper sup,
#plone-global-topbar-wrapper b,
#plone-global-topbar-wrapper i,
#plone-global-topbar-wrapper hr,
#plone-global-topbar-wrapper dl,
#plone-global-topbar-wrapper dt,
#plone-global-topbar-wrapper dd,
#plone-global-topbar-wrapper ol,
#plone-global-topbar-wrapper ul,
#plone-global-topbar-wrapper li,
#plone-global-topbar-wrapper fieldset,
#plone-global-topbar-wrapper legend,
#plone-global-topbar-wrapper label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
#plone-global-topbar-wrapper article,
#plone-global-topbar-wrapper aside,
#plone-global-topbar-wrapper canvas,
#plone-global-topbar-wrapper figure,
#plone-global-topbar-wrapper figure img,
#plone-global-topbar-wrapper figcaption,
#plone-global-topbar-wrapper hgroup,
#plone-global-topbar-wrapper footer,
#plone-global-topbar-wrapper header,
#plone-global-topbar-wrapper nav,
#plone-global-topbar-wrapper section,
#plone-global-topbar-wrapper audio,
#plone-global-topbar-wrapper video {
  display: block;
}
#plone-global-topbar-wrapper table {
  border-collapse: separate;
  border-spacing: 0;
}
#plone-global-topbar-wrapper table caption,
#plone-global-topbar-wrapper table th,
#plone-global-topbar-wrapper table td {
  text-align: left;
  vertical-align: middle;
}
#plone-global-topbar-wrapper a img {
  border: 0;
}
#plone-global-topbar-wrapper :focus {
  outline: 0;
}
