html[data-theme="light"],
html[data-theme="dark"] {
  --sbt-color-announcement: #3f0000;
  --pst-color-primary: #007db9; /* Plone blue */
  --pst-color-secondary: var(--pst-color-primary);
}
.bd-header-announcement__content > a {
  color: #66e5ff;
}
footer.bd-footer-content .bd-footer-content__inner .extra_footer p {
  margin-bottom: 1.5em;
}
