name: Build and deploy Plone 6 documentation to 6.dev-docs.plone.org

on:
  push:
    branches:
      - "6-dev"

jobs:
  build_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -q -r requirements-initial.txt
          pip install -q -r requirements.txt
          pip freeze

      # - name: Run Vale
      #   run: make vale

      # - name: Run linkcheck
      #   run: make linkcheck

      - name: Prepare deploy
        run: make deploy

      # node setup
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}

      # node cache
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        working-directory: submodules/volto
        run: echo "::set-output name=dir::$(yarn cache dir)"
      - uses: actions/cache@v1
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-


      - name: StoryBook build
        run: cd submodules/volto && yarn && yarn build-storybook -o ../../_build/html/storybook

      - name: Deploy to server
        id: deploy
        uses: Pendect/action-rsyncer@v1.1.0
        env:
          DEPLOY_KEY: ${{secrets.DEPLOY_KEY_DOCS}}
        with:
          flags: '-avzr --delete'
          options: ''
          ssh_options: '-p ${{secrets.DEPLOY_PORT}}'
          src: '_build/html/'
          dest: '${{secrets.DEPLOY_USER_DOCS}}@${{secrets.DEPLOY_SERVER_DOCS}}:${{secrets.DEPLOY_PATH_DOCS}}'

      - name: Display status from deploy
        run: echo "${{ steps.deploy.outputs.status }}"
