The page furniture, viewlets, portlets, and their managers. How to make
your own and where to find the bits you need.

#. `Component Wiring and
   ZCML <http://plone.org/documentation/manual/theme-reference/buildingblocks/components/wiring>`_
#. `Viewlets, Portlets and Other
   Components <http://plone.org/documentation/manual/theme-reference/buildingblocks/components/viewletsandportlets>`_
#. `Customizing or Creating
   New <http://plone.org/documentation/manual/theme-reference/buildingblocks/components/customizing>`_
#. `Component
   Parts <http://plone.org/documentation/manual/theme-reference/buildingblocks/components/componentparts>`_

   #. `Interfaces and why they
      matter <http://plone.org/documentation/manual/theme-reference/buildingblocks/components/componentparts/interfaces>`_
   #. `Python
      Classes <http://plone.org/documentation/manual/theme-reference/buildingblocks/components/componentparts/pythonclasses>`_
   #. `Permission <http://plone.org/documentation/manual/theme-reference/buildingblocks/components/componentparts/permissions>`_

#. `Making Components Theme
   Specific <http://plone.org/documentation/manual/theme-reference/buildingblocks/components/themespecific>`_
#. `Skin or
   Components? <http://plone.org/documentation/manual/theme-reference/buildingblocks/components/skinorcomponents>`_
#. `Where to find what you
   need <http://plone.org/documentation/manual/theme-reference/buildingblocks/components/locations>`_

`All content on one page (useful for printing, presentation mode
etc.) <http://plone.org/documentation/manual/theme-reference/buildingblocks/components/referencemanual-all-pages>`_
